<%- include('Header') -%>
<div class="custom__container">
<form action="/result/<%= option1 %>/<%= option2 %>" method="POST">
<button type="submit" class="btn btn-outline-info"><%= option1 %></button>
</form>
or
<form action="/result/<%= option2 %>/<%= option1 %>" method="POST">
<button type="submit" class="btn btn-outline-info"><%= option2 %></button>
</form>
</div>
<%- include('Footer') -%>
