<%- include('Header') -%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
		<% for(var i = 0; i < 50; i ++){ %>
		<tr>
			<th scope="row"><%= i+1 %></th>
			<td><%= topList[i].title %></td>
			<td><%= topList[i].rating %></td>
		</tr>
		<% } %>
  </tbody>
</table>
<%- include('Footer') -%>
